<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>小伙冲冲冲|功能目录</title>
	<meta charset="UTF-8">
	<meta name="description" content="Boto Photo Studio HTML Template">
	<meta name="keywords" content="photo, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Stylesheets -->
	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../static/css/slicknav.min.css"/>
	<!-- <link rel="stylesheet" href="css/fresco.css"/> -->
	<link rel="stylesheet" href="../static/css/slick.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="../static/css/style.css"/>


</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
	<header class="header" style="width: 100%; padding: 1.5%; padding-bottom: 0px;">
		<div class="row" style="padding-bottom: 0px;margin-bottom: 0px;">
			<div class="col-sm-4 col-md-3 order-2 order-sm-1">
				<div class="header__social">
					<a href="#"><i class="fa fa-circle"></i></a>
					<a href="#"><i class="fa fa-circle-o-notch"></i></a>
					<a href="#"><i class="fa fa-circle-thin"></i></a>
					
				</div>
			</div>
			<div class="col-sm-4 col-md-6 order-1  order-md-2 text-center">
				<a href="./index.html">
					<img src="../static/img/logo/logo3.png" />
				</a>	
			</div>
			<div class="col-sm-4 col-md-3 order-3 order-sm-3">
				<div class="header__switches">
					<a href="#"><i class="fa fa-circle-thin"></i></a>
					<a href="#"><i class="fa fa-circle-o-notch"></i></a>
					<a href="#"><i class="fa fa-circle"></i></a>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<nav class="main__menu">
				<ul class="nav__menu">
					<li><a href="/" style="fontSize:30px;" class="menu--active">功能目录</a></li>
					<li><a href="/shows" style="fontSize:30px;">数据概览</a></li>
					<li><a href="/trainSet" style="fontSize:30px;" >训练集分析</a></li>
					<li><a href="./test" style="fontSize:30px;">测试集结果</a></li>
				</ul>
			</nav>
	
		</div>
	</header>
	<!-- Header Section end -->

	<!-- Hero Section -->
	<section class="hero__section" style="padding-top:0px ; margin-top: 0px;">
		
		<div class="hero-slider">
			<div class="slide-item">
				<a class="fresco" href="/shows#tupu" data-fresco-group="projects">
					<img src="../static/img/img/100_node_tp.PNG" alt="">
				</a>
			</div>
			<div class="slide-item">
				<a class="fresco" href="/shows#tupu" data-fresco-group="projects">
					<img src="../static/img/img/sys.PNG" alt="">
					</a>
			</div>
			<div class="slide-item">
				<a class="fresco" href="/shows#tupu" data-fresco-group="projects">
					<img src="../static/img/img/sys_in.PNG" alt="">
				</a>	
			</div>
			<div class="slide-item">
				<a class="fresco" href="/shows#table" data-fresco-group="projects">
					<img src="../static/img/img/xx_search.PNG" alt="">
				</a>	
			</div>
			<div class="slide-item">
				<a class="fresco" href="/trainSet#Search-WordCloud" data-fresco-group="projects">
					<img src="../static/img/img/train_ciyun.png" alt="">
				</a>	
			</div>
			<div class="slide-item">
				<a class="fresco" href="/trainSet#Search-WordCloud" data-fresco-group="projects">
					<img src="../static/img/img/train_ciyun2.png" alt="">
				</a>	
			</div>
			<div class="slide-item">
				<a class="fresco" href="/trainSet#Topo" data-fresco-group="projects">
					<img src="../static/img/img/train_zttp.PNG" alt="">
				</a>	
			</div>
			<div class="slide-item">
				<a class="fresco" href="/trainSet#Topo" data-fresco-group="projects">
					<img src="../static/img/img/train_jbtp.PNG" alt="">
				</a>	
			</div>
			<div class="slide-item">
				<a class="fresco" href="/trainSet#Sankit" data-fresco-group="projects">
					<img src="../static/img/img/train_sang.png" alt="">
				</a>	
			</div>
			<div class="slide-item">
				<a class="fresco" href="/trainSet#Sankit" data-fresco-group="projects">
					<img src="../static/img/img/train_sang2.png" alt="">
				</a>	
			</div>
			<div class="slide-item">
				<a class="fresco" href="/trainSet#Node-Trigger-xuri" data-fresco-group="projects">
					<img src="../static/img/img/train_ss.PNG" alt="">
				</a>	
			</div>
			<div class="slide-item">
				<a class="fresco" href="/trainSet#Line" data-fresco-group="projects">
					<img src="../static/img/img/2.PNG" alt="">
				</a>	
			</div>
			<div class="slide-item">
				<a class="fresco" href="/test#Tree" data-fresco-group="projects">
					<img src="../static/img/img/cs_tree.png" alt="">
				</a>	
			</div>
			<div class="slide-item">
				<a class="fresco" href="/test#Topo" data-fresco-group="projects">
					<img src="../static/img/img/cs_zttp.PNG" alt="">
				</a>	
			</div>
			<div class="slide-item">
				<a class="fresco" href="/test#Topo" data-fresco-group="projects">
					<img src="../static/img/img/cs_jbtp.png" alt="">
				</a>	
			</div>
			<div class="slide-item">
				<a class="fresco" href="/test#Sankit" data-fresco-group="projects">
					<img src="../static/img/img/cs_sang.png" alt="">
				</a>	
			</div>
			<div class="slide-item">
				<a class="fresco" href="/test#Sankit" data-fresco-group="projects">
					<img src="../static/img/img/cs_sang2.png" alt="">
				</a>	
			</div>
		</div>
		<div class="hero-text-slider" style="padding-top:0px ; margin-top: 0px;">
			<div class="text-item">
				<h2>概览</h2>
				<p>100个节点拓扑展示</p>
			</div>
			<div class="text-item">
				<h2>概览</h2>
				<p>系统间拓扑展示</p>
			</div>
			<div class="text-item">
				<h2>概览</h2>
				<p>系统内拓扑展示</p>
			</div>
			<div class="text-item">
				<h2>概览</h2>
				<p>信息查询</p>
			</div>
			<div class="text-item">
				<h2>训练集</h2>
				<p>节点告警次数动态词云</p>
			</div>
			<div class="text-item">
				<h2>训练集</h2>
				<p>告警类型动态词云</p>
			</div>
			<div class="text-item">
				<h2>训练集</h2>
				<p>所选文件整体拓扑图</p>
			</div>
			<div class="text-item">
				<h2>训练集</h2>
				<p>所选节点周围三跳局部拓扑图</p>
			</div>
			<div class="text-item">
				<h2>训练集</h2>
				<p>所选节点周围1-2跳节点告警联系桑基图</p>
			</div>
			<div class="text-item">
				<h2>训练集</h2>
				<p>所选节点周围3跳节点告警联系桑基图</p>
			</div>
			<div class="text-item">
				<h2>训练集</h2>
				<p>实时分析图</p>
			</div>
			<div class="text-item">
				<h2>训练集</h2>
				<p>告警发生节点统计动态图</p>
			</div>
			<div class="text-item">
				<h2>测试集</h2>
				<p>各文件根因信息概览</p>
			</div>
			<div class="text-item">
				<h2>测试集</h2>
				<p>所选文件总体拓扑图</p>
			</div>
			<div class="text-item">
				<h2>测试集</h2>
				<p>所选文件根因周围局部拓扑图</p>
			</div>
			<div class="text-item">
				<h2>测试集</h2>
				<p>所选节点周围1-2跳节点告警联系桑基图</p>
			</div>
			<div class="text-item">
				<h2>测试集</h2>
				<p>所选节点周围3跳节点告警联系桑基图</p>
			</div>
		</div>
	</section>
	<!-- Hero Section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="../static/js/vendor/jquery-3.2.1.min.js"></script>
	<script src="../static/js/jquery.slicknav.min.js"></script>
	<script src="../static/js/slick.min.js"></script>
	<script src="../static/js/fresco.min.js"></script>
	<script src="../static/js/main.js"></script>

	</body>
</html>
<script type="text/javascript">
    $('.fresco').click(function () {
        window.open($(this).attr('href'));
    })
</script>